
  
<body>
  <i class="fa fa-volume-up"></i>
  <img id="taskTest" src ="../../assets/images/choosePlaceTask.png" >

  <div id="schoolPlace" >
    <img routerLink="/game" class = "placeTitle" id="schoolPlaceTitle" src ="../../assets/images/txtMagicSchool.png" >
    <img routerLink="/game" id="schoolPlaceImage" src ="../../assets/images/schoolPlace.png" >
  </div>
  <div id="homePlace" >
    <img routerLink="/form" class = "placeTitle" id="homePlaceTitle" src ="../../assets/images/txtHome.png" >
    <img routerLink="/form" id="homePlaceImage" src ="../../assets/images/homePlace.png" >
  </div>
  <div id="PlaygroundPlace" >
    <img routerLink="/form" class = "placeTitle" id="PlaygroundPlaceTitle" src ="../../assets/images/txtPlayground.png" >
    <img routerLink="/form" id="PlaygroundPlaceImage" src ="../../assets/images/playground.png" >
</div>

</body>