<body>


    <div class="box">
         <img id="titlePosition" src ="../../assets/images/FantasyLand.png" >
    </div>
   
  
    <div id="alreadySignedUp">
        allready signed up?
    </div>

    <div id="email">
        <input type="email" placeholder ="EMAIL" class="inputBox"/>
    </div>
    <div id="password">
        <input type="password" placeholder ="PASSWORD" class="inputBox"/>
    </div>
    <div id="forgotPassword">
        <a href="url">FORGOT PASSWORD?</a>
    </div>
    <div id="loginBtn">
        <input type="submit" value="Log In" class="inputBtn">
    </div >
    <div class="orContainer">
    <div id="lineLeft"></div>
    <div id="orTitle"> OR </div>
    <div id="lineRight"></div>
</div>
    <div id=signUp>
        <a href="url">don't have an account yet? SIGN UP</a>
        
    </div>

  </body>
