body{
    background-image: url(~src/assets/images/createFamily.png) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    position: fixed; 
    min-width: 100%;
    min-height: 100%;
    top: 0; 
    left: 0; 

    background-attachment: fixed;

    height:100vh;

      text-align: center;
      min-height:100vh;


      display: table;
      align-items: center;
      margin: auto;
  }

  #sister{
position: absolute;
width: 90px;
height: 250px;
top: 400px;
left: 235px
  }

  #father{
    position: absolute;
    width: 180px;
    height: 360px;
    top: 300px;
    left: 446px
  }

  *:focus {
    outline: none;
}